<div ng-controller="LoginIndexCtrl" style="padding-top: 50px" autoscroll="false">
	<div class="block-center mt-xl wd-xl">
		<div class="panel panel-default panel-flat">
		
			<div class="panel-heading text-center">
				<a><img style="width: 250px; height: 60px" class="block-center" alt="Image" src="images/logo1.png"></a>
			</div>
			
			<div class="panel-body">
				<!-- <p class="text-center pv">SIGN IN TO CONTINUE.</p> -->
				<form class="mb-lg" role="form">
				
					<div class="form-group has-feedback">
						<input ng-model="user.email" ng-class="{'parsley-error' : error.email}" type="text" class="form-control" placeholder="email">
						<ul ng-show="error.email" class="parsley-errors-list filled">
							<li class="parsley-required">{{error.email}}</li>
						</ul>
						<span class="fa fa-envelope form-control-feedback text-muted"></span>
					</div>
					
					<div class="form-group has-feedback">
						<input ng-model="user.password" ng-class="{'parsley-error' : error.password}" type="password" class="form-control" placeholder="senha">
						<ul ng-show="error.password" class="parsley-errors-list filled">
							<li class="parsley-required">{{error.password}}</li>
						</ul>
						<span class="fa fa-lock form-control-feedback text-muted"></span>
					</div>
					
					<!-- 
					<div class="clearfix">
						<div class="checkbox c-checkbox pull-left mt0">
							<label>
								<input type="checkbox" class="">
									<span class="fa fa-check"></span>Remember Me
							</label>
							<ul class="parsley-errors-list"></ul>
						</div>
						<div class="pull-right">
							<a class="text-muted" href="#">Forgot your password?</a>
						</div>
					</div>
					 -->
					 
					<button class="btn btn-block btn-primary mt-lg" ng-click="login()" >Login</button>
					
				</form>
				<div ng-show="errorMessage" class="alert alert-danger text-center">{{errorMessage}}</div>
				<div ng-show="successMessage" class="alert alert-success text-center">{{successMessage}}</div>
			</div>
		</div>
		<div class="p-lg text-center">
			<span>&copy;</span>
			<span>{{getYear()}}</span>
			<span>-</span>
			<span>SmartKilo</span>
			<br>
		</div>
	</div>
</div>
