<div ng-if="isGlobal()" class="form-group col-md-12">
	<div class="col-md-5">
		<label>Empresa</label>
		<select ng-model="user.client" ng-class="{'parsley-error' : error.client}" ng-options="client.clientName for client in clients track by client.id | orderBy:'clientName'" class="form-control"></select>
		<ul ng-show="error.client" class="parsley-errors-list filled">
			<li class="parsley-required">{{error.client}}</li>
		</ul>
	</div>
</div>

<div class="form-group col-md-12">
	<div class="col-md-5">
		<label>Perfil</label>
		<select ng-model="user.role" ng-class="{'parsley-error' : error.role}" class="form-control">
			<option value="admin">Administrador</option>
			<option value="simple">Simples</option>
		</select>
		<ul ng-show="error.role" class="parsley-errors-list filled">
			<li class="parsley-required">{{error.role}}</li>
		</ul>
	</div>
</div>

<div class="form-group col-md-12">
	<div class="col-md-5">
		<label>Nome</label>
		<input ng-model="user.userName" ng-class="{'parsley-error' : error.userName}" class="form-control" type="text">
		<ul ng-show="error.userName" class="parsley-errors-list filled">
			<li class="parsley-required">{{error.userName}}</li>
		</ul>
	</div>
</div>

<div class="form-group col-md-12">
	<div class="col-md-5">
		<label>Email</label>
		<input ng-model="user.email" ng-class="{'parsley-error' : error.email}" class="form-control" type="text">
		<ul ng-show="error.email" class="parsley-errors-list filled">
			<li class="parsley-required">{{error.email}}</li>
		</ul>
	</div>
</div>

<div class="form-group col-md-12">
	<div class="col-md-5">
		<label>Senha</label>
		<input ng-model="user.password" ng-class="{'parsley-error' : error.password}" class="form-control" type="password">
		<ul ng-show="error.password" class="parsley-errors-list filled">
			<li class="parsley-required">{{error.password}}</li>
		</ul>
	</div>
</div>
<input ng-model="user.role" type="hidden" value="{{role}}" />
