<div class="col-md-12">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-12">
			<a href="#/users/new" class="mb-sm btn btn-primary form-control">
				Adicionar Usuário
			</a>
		</div>	
	</div>
</div>

<div ng-if="isGlobal()" class="col-md-12">
	<div class="row">

		<div class="col-md-4 col-lg-3" style="padding-top: 10px">
			<label class="control-label">Cliente</label>
			<select ng-model="userFilter.client" ng-options="client.clientName for client in clients | orderBy:'clientName'" class="form-control">
				<option value="">Todos os clientes</option>
			</select>
		</div>
		
		<div class="col-md-offset-6 col-lg-offset-7 col-md-2" style="padding-top: 10px">
			<label ng-if="isMd() || isLg()" class="control-label" style="visibility: hidden;">.</label>
			<button ng-click="filter()" class="btn btn-primary form-control">Filtrar</button>
		</div>
		
	</div>
</div>

<div style="padding-top: 10px" class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			Lista de Usuários
		</div>
		<div ng-show="users[0]" class="panel-body">
			<div class="table-responsive">
				<table ng-table="tableParams" export-csv="csv" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th ng-if="isGlobal()">Empresa</th>
							<th>Nome</th>
							<th>Perfil</th>
							<th>Email</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in $data | orderBy:'userName' | filter:{client: tableFilter.client.clientName}">
							<td ng-if="isGlobal()" data-title="'Empresa'" align="center">{{user.client}}</td>
							<td align="center">{{user.userName}}</td>
							<td ng-if="user.role == 'admin'" align="center">Administrador</td>
							<td ng-if="user.role == 'simple'" align="center">Simples</td>
							<td align="center">{{user.email}}</td>
							<td width="15%" align="center">
								<a href="#/users/{{user.id}}/edit" class='mb-sm btn btn-info'>
									<span class='fa icon-pencil'></span>
								</a>
								<a ng-click="delUser(user)" class='mb-sm btn btn-danger'>
									<span class='fa fa-trash'></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-lg-offset-10 col-md-offset-10 col-sm-offset-10 col-xs-offset-9" align="right">
				<a ng-disabled="!users[0]" class="btn btn-success btn-export" ng-mousedown="csv.generate()" ng-href="{{csv.link()}}" download="usuarios.csv" type="button">
           			<span><i class="fa fa-file-excel-o"></i></span>
           		</a>
			</div> -->
			<div class="col-lg-2 col-md-3 col-sm-5 col-xs-5 col-lg-offset-10 col-md-offset-9 col-sm-offset-7 col-xs-offset-7">
				<div class="row">
					<a ng-disabled="!users[0]" class="btn btn-success btn-export form-control" ng-mousedown="csv.generate('users')" ng-href="{{csv.link()}}" download="usuarios.csv" type="button">
	           			Gerar CSV
	           		</a>
           		</div>
			</div>
		</div>
		<div ng-hide="users[0]" class="panel-body">
			Não há usuário registrado.
		</div>
	</div>
</div>
