/* #tab-lastMeasurements .ng-table-pager{
	display: none;
} */

.table-padding{
	margin-bottom: 10px;
}

.custom-padding{
	padding-top: 10px;
}

.nav-button{
	background-color: Transparent;
	color: #F5F7FA;
	border: none;
	padding-top: 17px;
	
}

.nav-button:hover, .nav-button:focus, .nav-button:active{
	background-color: Transparent;
	border: none;
	color: #4E3A80;
}

.marginContent{
	margin-top: -59px;
}

.marginAside{
	padding-top: 50px;
}

/* .c-checkbox input[type="checkbox"]:checked + span, .c-radio input[type="checkbox"]:checked + span, .c-checkbox input[type="radio"]:checked + span, .c-radio input[type="radio"]:checked + span .check-deleted{
	background-color: #f05050;
	border-color: #f05050;"
}

.c-checkbox input[type="checkbox"]:hover + span, .c-radio input[type="checkbox"]:hover + span, .c-checkbox input[type="radio"]:hover + span, .c-radio input[type="radio"]:hover + span .check-deleted{
	border-color: #f05050;"
} */

