<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="smartkilo" class="cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions">

<head>

	<title>SmartKilo</title>
	<link rel="icon" type="image/png" href="images/favicon.png" sizes="16x16">
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="stylesheets/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="stylesheets/angle/angle.css">
	<link rel="stylesheet" href="stylesheets/angle/theme-d.css">
	<link rel="stylesheet" href="stylesheets/ng-table/ng-table.css">
	<link rel="stylesheet" href="stylesheets/main.css">
	
	<link rel="stylesheet" href="stylesheets/angle/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/angle/simplelineicons/simple-line-icons.css">
	<link rel="stylesheet" href="stylesheets/angle/weathericons/css/weather-icons.min.css">
	
</head>

<body ng-controller="IndexCtrl" class="layout-fixed layout-boxed" ng-class="{'aside-toggled': showAsideBar}">
	
	<div ng-if="loginRoute()" class="wrapper ng-animate ng-scope ng-fadeInUp" data-ng-class="mainViewAnimation" data-autoscroll="false" data-ui-view="">
		<div ng-include="'app/login/index.html'"></div>
	</div>
	
	<div ng-cloak ng-if="!loginRoute()" class="wrapper ng-animate">
	
		<header class="topnavbar-wrapper" >
			<nav class="navbar topnavbar" role="navigation">
			
				<div class="navbar-header">
					<a class="navbar-brand" href="#/">
						<div class="brand-logo">
							<img style="width: 125px; height: 34px" align="center" class="img-responsive" alt="Logo" src="images/logo2.png">
						</div>
					</a>
				</div>
				
				<div class="nav-wrapper" ng-class="{'hideNav marginContent': !asideColapsed}">
				
					<ul ng-if="!asideColapsed" class="nav navbar-nav">
						<li>
				            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
				            <a class="visible-xs sidebar-toggle" no-persist="no-persist" toggle-state="aside-toggled" ng-click="test()">
				               <em class="fa fa-navicon"></em>
				            </a>
				        </li>
					</ul>				
				
					<ul ng-if="asideColapsed" class="nav navbar-nav">
					
						<li>
							<div class="btn-group open" dropdown="dropdown">
					            <button class="btn btn-default nav-button" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
					            	Cadastro
					            	<b class="caret"></b>
					            </button>
					            <ul class="dropdown-menu animated fadeInDown" role="menu">
					               	<li>
										<a ng-if="isGlobal()" href="#/clients">
											Clientes
										</a> 
									</li>
									<li>
										<a ng-if="isAdmin()" href="#/users">
											Usuários
										</a>
									</li>
									
					            </ul>
					         </div>
						</li>
												
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
				            <a ng-if="!isLogged()" title="Login" href="#/login">
				               <em class="icon-lock"></em>
				            </a>
				            <a ng-if="isLogged()" search-open="search-open" href="#" ng-click="logout($event)">
								<!-- <em class="icon-magnifier"></em> -->
								Sair
							</a>
				        </li>
					</ul>
				</div>
			
			</nav>
		</header>
		
		<aside style="padding-top: 50px" ng-if="!asideColapsed" class="aside ng-scope" ng-class="{'marginAside': !asideColapsed}">
		<div class="aside-inner ng-scope">
	  			<nav class="sidebar" sidebar="">
	     			<ul class="nav ng-scope">
				  		<li class="ng-scope nav-heading">
				   			<span class="ng-scope ng-binding">Cadastro</span>
				   			<li ng-class="{active: isActive('clients')}">
								<a ng-if="isGlobal()" href="#/clients" ng-click="test()">
									Clientes
								</a> 
							</li>
				   			<li ng-class="{active: isActive('users')}">
								<a ng-if="isAdmin()" href="#/users" ng-click="test()">
									Usuários
								</a>
							</li>
							
							<li>
					            <a ng-if="isLogged()" search-open="search-open" href="#" ng-click="logout($event); test()">
									<!-- <em class="icon-magnifier"></em> -->
									Sair
								</a>
					        </li>
				  		</li>
			  		</ul>
			  	</nav>
			 </div>
		</aside>
		
		<section ng-style="asideColapsed">
			<div class="content-wrapper" autoscroll="false" ng-class="{'marginContent': !asideColapsed}">
			
				<h3 ng-if="isTitleShow" class="ng-scope">{{indexTitle}}
	   				<small class="ng-binding">{{indexDescription}}</small>
				</h3>
				
				<div>
					<flash:messages></flash:messages>
				</div>
				
				<div class="row">
					<ng-view></ng-view>
				</div>
				
			</div>
		</section>
		
		<footer style="margin-left: 0">
			<span>&copy; {{getYear()}} - SmartKilo</span>
		</footer>
		
	</div>

	<!-- ANGULAR -->
	<script src="javascripts/angularjs/1.3.0/angular.js"></script>
	<script	src="javascripts/angularjs/1.3.0/angular-route.js"></script>
	<script	src="javascripts/angularjs/1.3.0/angular-resource.min.js"></script>
	<script src="javascripts/angularjs/1.3.0/angular-animate.js"></script>
	<script src="javascripts/angularjs/1.3.0/angular-locale_pt-br.js"></script>
	
	<!-- LIBRARY -->
	<script src="javascripts/ng-storage/ng-storage.js"></script>
	<script src="javascripts/ng-table/ng-table.js"></script>
	<script src="javascripts/ng-table/ng-table-export.js"></script>
	<script src="javascripts/flash/angular-flash.js"></script>
	<script src="javascripts/ui-bootstrap/ui-bootstrap-0.11.2.js"></script>
	<script src="javascripts/masks/masks.js"></script>
	<script src="javascripts/loading-bar/loading-bar.js"></script>
	
	<!-- APP -->
	<script src="javascripts/app.js"></script>
	<script src="app/index/index.js"></script>
	<script src="app/login/login.js"></script>
	<script src="app/users/users.js"></script>
	<script src="app/clients/clients.js"></script>
	
</body>