<div class="form-group col-md-12">
	<div class="col-md-5">
		<label>Nome</label>
		<input ng-model="client.clientName" ng-class="{'parsley-error' : error.clientName} " type="text" class="form-control">
		<ul ng-show="error.clientName" class="parsley-errors-list filled">
			<li class="parsley-required">{{error.clientName}}</li>
		</ul>
	</div>
</div>