<div class="col-md-12">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-12">
			<a href="#/clients/new" class="mb-sm btn btn-primary form-control">
				Adicionar Cliente
			</a>
		</div>	
	</div>
</div>

<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			Lista de Clientes
		</div>
		<div ng-show="clients[0]" class="panel-body">
			<div class="table-responsive">
				<table ng-table="tableParams" export-csv="csv" class="table table-bordered table-hover">
					<tr ng-repeat="client in $data | orderBy:'clientName'">
						<td data-title="'Nome'" align="center">{{client.clientName}}</td>
						<td data-title="'Ações'" width="15%" align="center">
							<a href="#/clients/{{client.id}}/edit" class='mb-sm btn btn-info'>
								<span class='fa icon-pencil'></span>
							</a>
							<a ng-click="delClient(client)" class='mb-sm btn btn-danger'>
								<span class='fa fa-trash'></span>
							</a>
						</td>
					</tr>
				</table>
			</div>
			<!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-11 col-md-offset-11 col-sm-offset-11 col-xs-offset-11" align="right">
				<div class="row">
					<a ng-disabled="!clients[0]" class="btn btn-success btn-export" ng-mousedown="csv.generate()" ng-href="{{csv.link()}}" download="clientes.csv" type="button">
	           			<span><i class="fa fa-file-excel-o"></i></span>
	           		</a>
				</div>
			</div> -->
			<div class="col-lg-2 col-md-3 col-sm-5 col-xs-5 col-lg-offset-10 col-md-offset-9 col-sm-offset-7 col-xs-offset-7">
				<div class="row">
					<a ng-disabled="!clients[0]" class="btn btn-success btn-export form-control" ng-mousedown="csv.generate('clients')" ng-href="{{csv.link()}}" download="clientes.csv" type="button">
	           			Gerar CSV
	           		</a>
           		</div>
			</div>
		</div>
		<div ng-hide="clients[0]" class="panel-body">
			Não há cliente registrado.
		</div>
	</div>
</div>
