<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">Novo Cliente</div>
		<div class="panel-body">
			<form ng-submit="save()">
				<div ng-include="'app/clients/_form.html'"></div>
				<div class="form-group col-md-12">
					<div class="col-md-3">
						<a ng-click="save()" class="mb-sm btn btn-primary">Salvar</a>
						<a ng-click="cancel()" class="mb-sm btn btn-default">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>